#home,
#call-to-action {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 60px;
}

#home {
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 15px;
}

#call-to-action>h1 {
    width: 85%;
}

.announcement {
    margin-top: 20px;
    width: 80%;
    background-color: var(--Light-orange);
    background: no-repeat center contain;
    border-radius: 15px;
    border: 3px solid var(--Brown);
    padding-bottom: 27.9%;
    position: relative;
    background-color: #e0e0e0;
}

#home>.announcement {
    background: no-repeat center url("https://lh3.googleusercontent.com/pw/ABLVV84HG-0S4JeGMNTb6Bu-wTJ1fE5mw9VHMU2auAKPxS9dhKnyqLM1w_EZmqWVu8M3MVkdM_dvHIZe-6zlL4PlrqVTUu5vw2IMulfp6gIRKzEyvXdDGXZevfBlkJ8BQ3U9Avc0x-kVP_UOdVPIYTv7jcjaSxJF8iI-OGoBD0ryP7HSqt0LOePwrNUNqQ0YUkmo447aHo2OKGVll1S5jZ5Hq3f7bpG1iRvsVTasZiD8hvytXyYc2bl0cT9ZQUtKcFp8aj-U60CaqxcGqkxd1B-2MlkAqySabhHLjEjE501s8tJMpK_FMkeHQCmgjhuMrERDUDSxyR3H7A6FUiv8XjllB6XotU7KFtciL4pANSWmyUvX1huSIjqgN6Yvrn141Wvssz4Hc0zYJixgr18oVSGuhZ09jectcDAV4JEmEPERKadDOOK4QrLmSLL_Goc7AqR14Bw8QM2n6Mw0GpwDuGQ8x5isk2LSEJ3tkChJje8eiAUWv1tr-SCIrPzxIx0CgwG0BwhuSsRnUSMxZKU3a0s1PMTRWqu0xttNKKzcHq2M3g3WdL9o1IdFWX1KS8e-G36U1OLg3tyw4HpMB5P4Qt3y5-e6eMMDWsoXAxhEcwh-vO1TUxuBXkEePpVWxEEHwXYMScgFoYdZkZMfVvrRUNwUi8QBFc68Us8c3PcxB4JLplTOwal_a6VQAhJ3atjMUnHTrrZC56sjB1mszXpOFe3FK-kCBOWf9q0CWnJh2wAt0VANwdZmdvEAoN0eEf5NeXDlEMqg8rlu59RpWJqARilJnkck359FTUKT1P_rscEunD1OXuguFp6r97g5XmQ5mDfHhunk1fjZny3nmHaV0BR9O4tYdk50CkuhacfaJp2RifRp7HKz84m4ZgrHW37Pg_Bzn38ImmDnLKBIeM6e_Y9jyI2A-UswuutqAJhFSUSMF9vo4ebSJsT1W--BiwHHhi3vy1NpiZ24p6YDQdsu5v4JtHixDYfD0Ju-aAOlkYRSx0loaDZ4hDrv5w6bn1TKlgmFgMtp2vZBj8-iqImcFJOyF-FQT7E_Bq3KmRU1GY3yA8bkKla_Z73WTF_YqGJ8ZIdWwED-rP-fW7rb=w1085-h382-s-no-gm?authuser=0");
    background-size: cover;
}

#call-to-action>.announcement {
    background: center no-repeat url("https://lh3.googleusercontent.com/pw/ABLVV86LOkg80QOWYPucnNcL5rEYofr5LAqGV87ZXMwMz729gZ4WI-nrzGlpieUe5Aagm8YnWdR9eDsF8ydAC_L5Iz6IFalJCmZtHfsfyurGO05zqDUc5ue1zdeitqMKHJyufADm6iROSyU3TBAtgrorGzeh0XuXSsAfcDmTmRtjUS281UTg7ntSKrXT7KpNfUCLQYl2NYHA9lJwxb_Prgo6xvYiazQuEjFZ-w0jn7f_di3-avFBHsyXyspMN9ahhl7qZGEQdxzPxe96Akwci-hZvMpECrLGZin2oN8Jd8HY08IQeNQBKM9Rcq-lXvJUsn-iKs0x8k3Iq5Zo1aDL9DgWViunbgsdHoW9t1zLnkDczQRMts60PmwFdYhZxfaxImp-2kECbaTzpPBOaM88rcSHghCBu8G1l3_ZoPhFcxAGifHbJbJ6HASllLnVGZf7QpxNEW_fLU9OfaUEmrn2ZlgIwRMX8gV47ekFcvr_E-vXSnP5VLqxSnykw6xqPa_d7AotekVlrHrTXftNplHUPYDR7bhc8tv094nZIvmbcTYGx0m8miGxrNPCuoITX9STIp-GjsNHooBcOhniVcC1xBhgFSdR92BI-01IeBNauKCIjGqIMXoEQGoarfm6A0fxN1ARPKUP_PiaahNjYIgFI9JUnmJvbIFY0LO8gPlFM3GiFLEhkGwfNasNfbqRoOlLLTExrRPmzVYCI3mWYA0rx1jhsdVDjuidK9P056fmF1mwr_a1UYI5MjkMvj5JKVBmWPsB8XZzNpxYDBMH5RwRRs36id8JkcO1YOA2Wnd2HU0wHV-RycEXrWkiKCxY4F6QEVLAzIoDrUrfLknQFRTTgZwU0eUoy_a2CfSDnj7SRxF-3DNp7LfZsy9eJ9SgeNR2YbWac81-_vbZPJWw1tnSqplI2gXhFFpbCmyfNNc-OxbqL-GC59k4Wn0P_Os1UhZfVbg1RZCfa-_Nsy_gQul5Faba-C1MXNinfRL2_CCco2J3ZroMXwG9J81iEn2wVfei0A2ARJkObaiqzNLEQctJ0MdyIv2HLkEXMs78bJgssRzCcwt9N-LTPq_MB03OlRJYvpU4EeURhxhRS3yx=w1085-h382-s-no-gm?authuser=0");
    background-size: cover;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-content: space-between;
    margin-bottom: 30px;
    width: 80%;
    gap: 2%;
    width: 80%;
    position: relative;
}

.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: auto;
    height: 65px;
    gap: 6px;
    background-color: var(--Light-green);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.info-box>.info-icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--Light-orange);
    border-radius: 50px;
    border: 2px solid var(--Brown);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-text>h3 {
    font-size: 13px;
    font-weight: 700;
}

.info-text>p {
    font-size: 12px;
}

@media (min-width: 1560px) {
    .infoContainer {
        grid-template-columns: repeat(auto-fill, minmax(230px, 20%));
    }
}

@media (max-width: 845px) {
    #home {
        margin-top: 0;
        padding: 0;
    }
}


@media (max-width: 670px) {
    .infoContainer {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .info-icon {
        transform: scale(0.8)
    }

    .info-text {
        max-width: auto;
    }
}

@media (max-width: 500px) {
    .announcement {
        min-height: 500px;
        padding: 0;
    }

    #home>.announcement {
        background: center no-repeat url("https://lh3.googleusercontent.com/pw/ABLVV87z_8jQ_H2RbifazVm9CZ1oGm-LoSmNaKqxyEjWLCeFN4Q_ZuDHSqGyBsDREearSv0U_Kfr9tuVi_TJPjnx2FP_vE4c41TwrcGKum79A9pMO0TPN8_aFMMBl17C9GVzE63_AfCM-8RkdMILupMezpXUsw1Vz6N6jEZCeFfqZXlhdOl8GzfIQ0EbCO13pYW5PHNYNwEInP1ahnaeCZBZbYlLcdOGaniEmclfzNLgNTsm7qMCHJehdJuLzRgFx-ye-5C_wqmdBOG5i3duhWnQ8siuYtYB9vgsfSbnsx9FFRhUEhpPZWOyfkqkSLEMgOKQpzNi357yDmht08qP5tor3tqcaxntYVJmzznqqNK6yvn_t9I1u1bBTQBjLCGxl5SJHSrsbPCLBB4VjzLkdNXyi1tMn_iJmASIoL1zwr_wzgL639Xhjx7kYI2h1SaiNGfsq9zL3gdykxWZsckgOvcf78iDhd7iHsRePfNA2nsQSbSMtLRqqMeCe2cdAuMccGd-znekYaL6LtuT4ZYHBTuVD3byEk7FwqS0isSC3NozJT0yaKRNpghW5nxZc4_V0WPapwqqvQKP7jcZ9gwws_cJUzCnTbCpQ8TNt3fiEP-aFHpNUOsHWWgLu-noDuLDxn_JZemVubcDiCa_qeMHPJhKGeqCXZVplB0gdBI7-3HuPpqzn13N__2V4sEaxKvTuXip4Sd2WLV6lvk2MsM1_vRqWkqSuWozY7p9PR_1UzZb7oAo0x_575xaUDO_CvaSBF8X_douwFMQkLOahMwXlNwhICOu4ws1fFatGxtDYLcfDdgk93Oj5SwryqxiOi0p_Adq6MThlXsptxG4KX4U97PWXOuOxWutFZQHijwzKX4yQXVQg1297d9Hnl2_L0h_W3LjIQ9pf73ZvQuY0yQ9RySaKEK4VUB07Sg3tIS4TMVUtBaS1fHc_CitSV4AY8r4lvVk3i0Jr6hWVqjranjEp99cMYJUwmDlFqULJDIuQk1IMflbPxDqsum9vHM8jgCfKMaZFIkTHmnLJ-SFibHyYkJP9Sze3iHLq8vQ1b39tvyqyR7Wf1FZL2QSahWIci2e7lqj0Dz1wfbuh_dB=w352-h506-s-no-gm?authuser=0");
        background-size: cover;
    }

    #call-to-action>.announcement {
        background: center no-repeat url("https://lh3.googleusercontent.com/pw/ABLVV84h0LYXkkjftPa3tBnirkwg-EjqdVPPTWJmgFOJ6X-sU--KAW8x3de52sTChtkAjF9m0aA3CNcAWLdSARs0RVfho8Q8CuR0bwlLo9_wxkCtnnKOtInQHC7zdQIdSuUB-Gt30_DL1_rjxxB9R22ZByuevkONPZt4YP0KRoUSfydaaM4MAuWyjlSsXz2MmNKvad4GA6Tl__0I9o3ssMRuKbA7ivtlzj_mrGKP6CaHQTdHcf9xZhqCsfW1qYXj1H7wjQO2CkqtnprBsYigY3RuQL9c6SedXZGKFphiQbAcGrfg_GGxSm3iKiBS6i3r4uQ6kw0Y49L_5-8asZpvhrd2ufzO_RRV_C0lTmWIweJTs7L6c8rRfkY4CQHg7pkrdsDq3dZNxSef0NCmz0-X9JD-I_KcOEZw5Y2P-8GHh6280HUosGaVuy-4kJRA5dMI7LxCPIfPDHHdw7_qQKevzP75Uu9TNVejpZQ9um7VGdMlvdJsmEWj9Fd7pkvmAsjV32DSB8fiVVTuq6hg4Dlg-iCh5r1dvZqzNqsqfjOIaJkH4i7hrvlDa0WxtVX7TedvGNKNmuvnucZu4xtGm1ocXSa3o3H4cXBf8snjBG9K4waDSX7dp9WDsO7gPQtKlkjKQQfrYDwVTVPNkLz8Sq0rEUrlsYklxr2qCI8Xk9xyF4X-DbOvJ49-VEgzslOxBMoD_IO85VUYEduTyREIwnfCImN6Dg6LncO4y4-WHlB67vz7ovNAi1m_9ICUSZreUFktfoeaPfdzCIZx10i1qTHguLpwAZcRAa4vZwKJNw26gGpDAsEzZAlm7seEWYTwb9UlUMPWX3ZI0gUgb9ifjbhfhM_93Lp7u4IyOB6c-W7U1CVELX3sSkT0jt2Ox1DFrv9rdSSrs4EKsvlQ5drBuzHI7C_FNv0h77A_iONCnGMofsKxeC5opqtGfoG18hczsRHmdu_ONPHVeK0HluKpO-rKgjuI4PPUGnSxxDAxnvtJBVe5VY018AJl7gxneAlW2e24HiUddEPZLNNwfgaNs4cBfA3Kj6hzpZ5YOTqDt_Xvh_-aCLL3MW20UzBbLAfjvW_dBpj0DhLq9CBHiIkO=w352-h506-s-no-gm?authuser=0");
        background-size: cover;
    }
}