#home,
#call-to-action {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 60px;
}

#home {
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 15px;
}

#call-to-action>h1 {
    width: 85%;
}

.announcement {
    margin-top: 20px;
    width: 80%;
    background-color: var(--Light-orange);
    background: no-repeat center contain;
    border-radius: 15px;
    border: 3px solid var(--Brown);
    padding-bottom: 27.9%;
    position: relative;
    background-color: #e0e0e0;
}

#home>.announcement {
    background: no-repeat center url("https://preview.redd.it/nc2vt0jj5ogc1.png?width=1085&format=png&auto=webp&s=b6abd56b417ecbcaa57c8b7764b63694769f2488");
    background-size: cover;
}

#call-to-action>.announcement {
    background: center no-repeat url("https://preview.redd.it/yifjg0jj5ogc1.png?width=1085&format=png&auto=webp&s=c1f8a51ffc9fc8aacac1d845fe8b878f876305f3");
    background-size: cover;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-content: space-between;
    margin-bottom: 30px;
    width: 80%;
    gap: 2%;
    width: 80%;
    position: relative;
}

.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: auto;
    height: 65px;
    gap: 6px;
    background-color: var(--Light-green);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.info-box>.info-icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--Light-orange);
    border-radius: 50px;
    border: 2px solid var(--Brown);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-text>h3 {
    font-size: 13px;
    font-weight: 700;
}

.info-text>p {
    font-size: 12px;
}

@media (min-width: 1560px) {
    .infoContainer {
        grid-template-columns: repeat(auto-fill, minmax(230px, 20%));
    }
}

@media (max-width: 845px) {
    #home {
        margin-top: 0;
        padding: 0;
    }
}


@media (max-width: 670px) {
    .infoContainer {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .info-icon {
        transform: scale(0.8)
    }

    .info-text {
        max-width: auto;
    }
}

@media (max-width: 500px) {
    .announcement {
        min-height: 500px;
        padding: 0;
    }

    #home>.announcement {
        background: center no-repeat url("https://preview.redd.it/tk0td7jj5ogc1.png?width=320&crop=smart&auto=webp&s=3f9f9bc4edb62cb6f76675ce1ac1629a8f3ca658");
        background-size: cover;
    }

    #call-to-action>.announcement {
        background: center no-repeat url("https://preview.redd.it/od0bc0jj5ogc1.png?width=320&crop=smart&auto=webp&s=3e4d210606e87b492f97f35474ffb8afeb404153");
        background-size: cover;
    }
}