#products-to-sell,
#products-to-request{
    background-color: var(--Light-orange);
    padding: 0 50px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}


.catalog{
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 50px 0;
    gap: 10px;
    width: 90%;
    align-self: center;
}


.cardCrochet{
    height: 340px;
    min-width: 170px;
    border-radius: 20px;
    border: 3px solid var(--Brown);
    background-color: var(--White);
    box-shadow: 0px 6px 0px 0px var(--Brown-shadow);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5%;
    margin: 10px;
}

.cardCrochet>img{
    height: 50%;
    border-radius: 10px;
    border: 3px solid var(--Brown);
    background-color: var(--Orange);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardCrochet>.textCrochet{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categoryCrochet,
.priceCrochet {
    font-size: 0.8rem;
    font-weight: 600;
    color:var(--Orange);
}

.nameCrochet,
.requestCrochet{
    font-size:1rem;
    font-weight: 700;
}

.requestCrochet{
    color: var(--Light-yellow);
    min-height: 60px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    border-radius: 12px;
    border: 3px solid var(--brown, #B06338);
    background: var(--orange, #FFAB6F);
    box-shadow: 0px 3px 0px 0px var(--brown, #B06338);
    position:relative;
}

.requestCrochet:hover{
    top: 1px;
    box-shadow: 0px 2px 0px 0px var(--brown, #B06338);
}

.requestCrochet:active{
    top: 3px;
    color: var(--Brown-shadow);
    box-shadow: 0px 0px 0px 0px var(--brown, #B06338);
}

@media (max-width: 720px) {
    #products-to-sell,
    #products-to-request{
        background-color: var(--Light-orange);
        padding: 0 5%;
        padding-top: 35px;
    }

    .categoryCrochet,
    .priceCrochet {
        font-size: 0.9rem;
    }
    
    .nameCrochet,
    .requestCrochet{
        font-size: 1rem;
    }

    .cardCrochet{
        height: 300px;
        min-width: 150px;
    }

    .requestCrochet{
        min-height: 45px;
    }

    .catalog{
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
}

@media (max-width: 500px){

    .requestCrochet{
        font-size: 0.86rem;
    }

    .cardCrochet{
        height: 245px;
        min-width: 110px;
    }

    .catalog{
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}
