#navbar {
    padding: 15px 60px;
    height: 35px;
    background-color: var(--Orange);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow: hidden;
    z-index: 98;
    top: 94px;
    position: absolute;
    width: 100%;
    border-top: 3px solid var(--Brown);
    border-bottom: 3px solid var(--Brown);
}

.navbar-links {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 35px;
}

.up-btn {
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
}

.up-btn.visible {
    transform: scale(1);
}


.nav-link {
    color: var(--Light-yellow);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.nav-link>img {
    max-width: 40px;
}

.menu-hamburger {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 30px;
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    border-top: 3px solid var(--Brown);
    z-index: 100;
}

.menu-hamburger::before,
.menu-hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--Brown);
    margin-top: 5px;
}

@media (max-width: 845px) {
    #navbar {
        width: 190px;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: -310px;
        align-items: flex-start;
        padding: 0 40px;
        padding-top: 90px;
        border: none;
        border-right: 3px solid var(--Brown);
        transform: translateX(-310px);
        flex-direction: column;
        gap: 30px;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-links {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menu-hamburger {
        display: flex;
    }

    .up-btn {
        transform: scale(1);
    }

}