#navbar{
    padding: 15px 60px;
    height: 35px;
    background-color: var(--Orange);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow: hidden;
    z-index: 98;
    top: 94px;
    position: absolute;
    width: 100%;
    border-top: 3px solid var(--Brown);
    border-bottom: 3px solid var(--Brown);
}

.navbar-links{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 35px;
}

.up-btn {
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
}

.up-btn.visible {
    transform: scale(1);
}


.nav-link{
    color: var(--Light-yellow);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.nav-link>img{
    max-width: 40px;
}

@media (max-width: 845px) {
    #navbar{
        display:none;
    }
}