@import url(./reset.css);
@import url();

:root{
    --Light-yellow: #FFF4C7;
    --Light-orange: #FFDEA3;
    --Orange: #FFAB6F;
    --Light-green: #C0DDAD;
    --Brown: #B06338;
    --Brown-shadow: rgba(176, 99, 56, .5);
}

html, * {
    font-family: 'Mali', cursive;
    background-color: var(--Light-yellow);
    color:var(--Brown);
}

h1{
    font-family: 'Cherry Bomb One', system-ui;
}

.card{
    height: 400px;
    max-width: 240px;
    border-radius: 20px;
    border: 3px solid var(--Brown);
    background-color: var(--Light-yellow);
    box-shadow: 0px 6px 0px 0px var(--Brown-shadow);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5%;
}

.card>img{
    height: 50%;
    width:100%;
    border-radius: 10px;
    border: 3px solid var(--Brown);
    background-color: var(--Orange);
    align-self: center;
}

.card>.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categoryCrochet,
.priceCrochet {
    font-size: 1.1rem;
    font-weight: 600;
    color:var(--Orange);
}

.nameCrochet{
    font-size: 1.4rem;
    font-weight: 700;
}

.requestCrochet{
    color: var(--Light-yellow);
    min-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
    width: 100%;
    cursor: pointer;
    border-radius: 12px;
    border: 3px solid var(--brown, #B06338);
    background: var(--orange, #FFAB6F);
    box-shadow: 0px 3px 0px 0px var(--brown, #B06338);
    position:relative;
}

.requestCrochet:hover{
    top: 1px;
    box-shadow: 0px 2px 0px 0px var(--brown, #B06338);
}

.requestCrochet:active{
    top: 3px;
    color: var(--Brown-shadow);
    box-shadow: 0px 0px 0px 0px var(--brown, #B06338);
}