@import url(./reset.css);
@import url(./modules/float-wpp.css);
@import url(./modules/navbar.css);
@import url(./modules/header.css);
@import url(./modules/announcements.css);
@import url(./modules/catalog.css);
@import url(./modules/formPopup.css);
@import url(./modules/footer.css);

:root{
    --White: #fff;
    --Light-yellow: #FFF4C7;
    --Light-orange: #FFDEA3;
    --Orange: #FFAB6F;
    --Light-green: #C0DDAD;
    --Brown: #B06338;
    --Brown-shadow: rgba(176, 99, 56, .5);
}

html, * {
    font-family: 'Mali', cursive;
    color:var(--Brown);
    scroll-behavior: smooth;
}

body{
    background-color: var(--Light-yellow);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    
}

a{
    text-decoration: none;
}

img{
    width:100%;
}

h1{
    font-weight: 700;
    font-size: 1.5rem;
}