@import url(./reset.css);
@import url(./modules/catalogue.css);

:root{
    --Light-yellow: #FFF4C7;
    --Light-orange: #FFDEA3;
    --Orange: #FFAB6F;
    --Light-green: #C0DDAD;
    --Brown: #B06338;
    --Brown-shadow: rgba(176, 99, 56, .5);
}

html, * {
    font-family: 'Mali', cursive;
    background-color: var(--Light-yellow);
    color:var(--Brown);
}

body{
    padding:0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-family: 'Cherry Bomb One', system-ui;
}

